#contact {
  margin: 0 auto;
  height: 100%;
  margin-top: 350px;
  position: relative; }
  #contact canvas {
    position: absolute; }
  #contact .page-header {
    margin: 50px 150px; }
    #contact .page-header p {
      font: bold 36px 'PT Mono', sans-serif;
      padding: 20px; }
  #contact .team-container {
    width: 80%;
    margin: 0 auto;
    position: relative; }
    #contact .team-container .row {
      width: 100%;
      overflow: hidden; }
      #contact .team-container .row .team-wrapper {
        width: calc(33% - 60px);
        margin: 30px;
        float: left;
        padding-top: 0;
        overflow: hidden;
        height: 500px;
        min-height: 65vh; }
        #contact .team-container .row .team-wrapper .expand-c {
          height: 100%;
          width: 0px;
          width: 100%;
          opacity: 0;
          transform: rotate(-90deg);
          background: white;
          z-index: 1000;
          transition: all 0.5s cubic-bezier(0.36, 0.33, 0.18, 0.95);
          overflow: hidden; }
          #contact .team-container .row .team-wrapper .expand-c .description {
            color: #222;
            opacity: 0;
            padding: 50px;
            font: 0.8em 'PT Mono', monospace;
            transition: all 0.2s cubic-bezier(0.36, 0.33, 0.18, 0.95); }
            #contact .team-container .row .team-wrapper .expand-c .description.active {
              opacity: 1; }
          #contact .team-container .row .team-wrapper .expand-c.active {
            opacity: 0.8;
            width: 100%;
            transition-delay: 0.2s; }
        #contact .team-container .row .team-wrapper .title-w span {
          width: 100%;
          float: left; }
        #contact .team-container .row .team-wrapper .title-w .name {
          color: #555;
          font: 1.65em 'Oxygen', monospace; }
        #contact .team-container .row .team-wrapper .title-w .title {
          color: #939DA3;
          font: 1.0em 'Oxygen', monospace; }
        #contact .team-container .row .team-wrapper .team-c {
          background-size: cover;
          height: 425px;
          cursor: pointer;
          transition: all 0.5s cubic-bezier(0.36, 0.33, 0.18, 0.95);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
          filter: grayscale(100%);
          transform: rotate(90deg); }
  #contact .contact-us {
    display: block;
    margin: 50px 150px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    padding: 10px; }
    #contact .contact-us .contact-header {
      font: bold 36px 'PT Mono', sans-serif; }
    #contact .contact-us .contact-row {
      overflow: hidden;
      width: 100%; }
      #contact .contact-us .contact-row .contact-title {
        color: #222;
        font: 1.65em 'Oxygen', monospace; }
      #contact .contact-us .contact-row .contact-info {
        width: 50%;
        float: left; }
        #contact .contact-us .contact-row .contact-info .contact-link {
          color: #6853ff; }
        #contact .contact-us .contact-row .contact-info .info-text {
          font: 0.90em 'PT Mono', monospace;
          color: #222;
          line-height: 25px; }
