#responseDisplay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 400px;
  position: absolute;
  color: #222;
  background: #fff;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-bottom: 1px solid rgba(34, 34, 34, 0.2);
  font: 16px 'PT Mono', monospace;
}

#response {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);ext-align: center;
}
